{% extends 'base.html' %}
{% block body_block %}
        <div class="row" style="margin-top: -20px;">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="form-small centred">
                        {% if data.error %}
                            {% block error_block %}
                                <p class="error-login">......... {{ data.error }}</p>
                                <a href="{% url 'auth:login' %}" style="margin-left: 280px;">Try again...</a>
                            {% endblock %}
                        {% else %}
                            <div class="form-login centred">
                                <form method="post" action="{{ target }}">
                                    {% csrf_token %}
                                        <table class="login-form">
                                            {% for field in form %}
                                                <tr>
                                                    <td align="right">{{ field.label_tag }}</td>
                                                    <td align="right">{{ field }}</td>
                                                </tr>
                                            {% endfor %}
                                            <input type="hidden" name="next" value="{{ next }}" />
                                        </table>
                                    <button type="submit" class="login-button" value="{{ button_text }}">{{ button_text }}</button>
                                </form>
                                <p class="signup">New user <a href="{% url 'auth:signup' %}">sign up</a></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}